<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Weather Info</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheet/style.css">
  </head>

  <body>
    <div>
      <h1>Today's weather info</h1>

      <div>
        <p>Hi</p>

        <h1>
          <% apiData.map((u)=> { %>
            <% const {firstName, age, email, address, ssn}=u %>
              <%= firstName %>
                <% }) %>
        </h1>
      </div>

      <button onclick="document.location='/'" type="button" title="Get weather">Search again</button>
    </div>

    <script src="" async defer></script>
  </body>

</html>