<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Root Page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheet/style.css" type="text/css">
  </head>

  <body>
    <div class="root">
      <h1>Get Weather Results!</h1>

      <div class="search-form">
        <form action="/forecast" method="get">
          <input type="text" name="q" placeholder="Search data" required>
          <button type="submit" title="Search data">Get data</button>
        </form>
      </div>
    </div>

    <script src="" async defer></script>
  </body>

</html>